<div>
    <div class="row">
        <div class="col-2">
            <p class="experiencia"> | | | E X P E R I E N C I A | | |</p>
        </div>
        <div class="col-5">
            <div class="row" id="contexperiencia">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="row" id="contexperiencia">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row" id="contexperiencia">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="row" id="contexperiencia">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>