<div class="row">
    <div class="col-5">
        <img src="../../../assets/perfil.jpg" class="img-fluid">
    </div>
    <div class="col-7">
        <h1 class="nombre">Camila Rodriguez</h1>
        <p class="titulo">Programadora Full Stack Jr</p>
        <p class="resumen">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident praesentium magni quos id laborum
            repellat magnam nulla fuga labore, sunt laudantium omnis deserunt iste! Animi aliquid voluptatum
            commodi architecto totam?</p>
    </div>
</div>