<div class="container"><div class="row">
    <div class="col-3">
        <circle-progress id="circle" [percent]="95" [radius]="75" [imageSrc]="'../assets/html5.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="90" [radius]="75" [imageSrc]="'../assets/css3.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="80" [radius]="75" [imageSrc]="'../assets/js.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="90" [radius]="75" [imageSrc]="'../assets/bootstrap.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <circle-progress id="circle" [percent]="65" [radius]="75" [imageSrc]="'../assets/gitblack.png'" [showImage]="true" [imageHeight]="170" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="100" [radius]="75" [imageSrc]="'../assets/teamwork.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="150" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="85" [radius]="75" [imageSrc]="'../assets/angular.png'" [showImage]="true" [imageHeight]="130" [imageWidth]="130" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
    <div class="col-3">
        <circle-progress id="circle" [percent]="85" [radius]="75" [showTitle]="true" [showSubtitle]="true" [showUnits]="false"
            [title]="'HTML'" [subtitle]="'85%'" [subtitleFontSize]="'15'" [outerStrokeGradient]="true"
            [outerStrokeWidth]="16" [innerStrokeWidth]="3" [outerStrokeColor]="'#4882c2'"
            [outerStrokeGradientStopColor]="'#53a9ff'" [clockwise]="false" [innerStrokeColor]="'#e7e8ea'" [animation]="true"
            [animationDuration]="600"></circle-progress>
    </div>
</div>
</div>
