<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row" id="conteducacion">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                </div>
            </div>
            <div class="row" id="conteducacion">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="row" id="conteducacion">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="row" id="conteducacion">
                <div class="col-5">
                    <img src="../../../assets/hotel.jpg" class="img-thumbnail rounded" id="hotel">
                </div>
                <div class="col-5">
                    <h1>Titulo</h1>
                    <h4>Fecha</h4>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <p class="educacion"> | | | E D U C A C I Ó N | | |</p>
        </div>
    </div>
</div>
